body {
  font-family: "Itim", cursive;
  background-color: rgba(0, 0, 0, 0.5);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
}
.party-catio {
  border-radius: 8px;
  max-width: 100%;
}
.img-responsive {
  width: 100%;
  display: block;
  border-radius: 8px;
}
.text-center {
  text-align: center;
}
.grid-3-columns-ncr {
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  background-color: white;
  margin: 30px 0;
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 0 30px 30px;
}
.instagram-embed {
  margin: 30px 0;
}
.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #0c081a;
  text-decoration: none;
  border-radius: 7px;
}
p.address {
  margin: 0;
}
main {
  background-color: rgb(226, 220, 213);
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #0c081a;
  opacity: 0.5;
  text-transform: uppercase;
}
main h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  margin: 0;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}
main h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}
main p {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  opacity: 0.7;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background: #f8f8f8;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/the_catio.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: rgb(211, 148, 31);
  text-align: center;
  padding: 400px 0;
  position: relative;
}
header h1 {
  font-weight: 400;
  font-size: 96px;
  font-style: normal;
  line-height: 1.5;
  position: absolute;
  top: 0;
  left: 12%;
  margin: 0 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  position: absolute;
  bottom: 0;
  left: 20%;
  margin-bottom: 50px;
}

header a.learn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 40%;
  margin-bottom: 0;
}
footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("../images/love_cats.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
footer .social-links a {
  display: block;
  margin: 0 auto;
  padding: 10px 10px;
  border-radius: 50%;
  font-size: 20px;
  transition: all 100ms ease-in-out;
}
footer .footer-space {
  margin-bottom: 15px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.9;
  line-height: 24px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 960px) {
  header {
    padding: 200px;
  }
  header h1 {
    display: none;
  }
  header h2 {
    font-size: 15px;
    left: 14%;
    margin-bottom: 40px;
  }
  header a.learn {
    left: 30%;
  }
  footer {
    padding: 60px 0;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
  .container {
    overflow-x: hidden;
  }
}
