body {
  font-family: "Itim", cursive;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/the_catio.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(211, 148, 31);
  text-align: center;
  padding: 260px 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header h1 {
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-size: 96px;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
}
header a .more {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}
